.button {
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  font-size: var(--font-size-base);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }

  &.link {
    background: none;
    color: var(--color-primary);
  }

  &.plain {
    background: none;
    color: inherit;
    padding: 0;
    border-radius: 0;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}