.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--header-height));

  @media screen and (min-width: 740px) {
    flex-direction: row;
    justify-content: space-between;
  }
}