.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.description {
  margin-top: 0;
  margin-bottom: 1rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #f3f4f6;
  padding: 1rem;
}

.icon {
  display: flex;
  color: var(--color-primary);
}

.link {
  font-size: var(--font-size-lg);
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
