.wrapper {
  height: 100%;
  min-height: 0;
  position: relative;
}

.heading {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin: var(--container-spacing) 0;
}

.list {
  overflow-y: auto;
  height: calc(100% - 40px);
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;

  @media screen and (min-width: 740px) {
    overflow-y: auto;
  }
}

.month {
  position: sticky;
  top: 0;
  background: var(--color-accent);
  padding: var(--container-spacing);
  border-top: 1px solid var(--color-borders);
  border-bottom: 1px solid var(--color-borders);
}